{namespace core9.site}
/**
 * Example template for Google Closure templates
 * @param title The title.
 */
{template .page}
<!doctype html>
<head>
  <title>Closure templates example</title>
</head>
<body>
  <h1>{$title}</h1>
</body>
</html>
{/template}
